{% extends "main.html.twig" %}
{% block content %}
<div id="home">
    <div class="home-header">
        <div class="welcome">
            <h1>{% trans %}Bem-vindo, {{ usuario }}{% endtrans %}</h1>
            <p>{% trans %}Sistema de Gerenciamento de Atendimento{% endtrans %}</p>
        </div>
        <div id="modules-search">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                <input id="search-input" type="text" placeholder="{% trans %}Buscar módulo...{% endtrans %}" onkeyup="SGA.Home.filter()" class="form-control" />
            </div>
        </div>
    </div>

    <div id="modules">
        {% if unidade and modulosUnidade %}
        <div class="list unidade">
            <h2><span class="glyphicon glyphicon-home section-icon"></span> {% trans %}Unidade{% endtrans %}</h2>
            <div class="modules-grid">
                {% for modulo in modulosUnidade %}
                <a href="{{ baseUrl() }}/modules/{{ modulo.chave }}" class="module-card">
                    <div class="module-icon">
                        <img src="{{ resources('images/icon.png', modulo.chave) }}" alt="{{ modulo.nome }}" />
                    </div>
                    <span class="module-name">{{ modulo.nome }}</span>
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if modulosGlobal %}
        <div class="list global">
            <h2><span class="glyphicon glyphicon-cog section-icon"></span> {% trans %}Global{% endtrans %}</h2>
            <div class="modules-grid">
                {% for modulo in modulosGlobal %}
                <a href="{{ baseUrl() }}/modules/{{ modulo.chave }}" class="module-card">
                    <div class="module-icon">
                        <img src="{{ resources('images/icon.png', modulo.chave) }}" alt="{{ modulo.nome }}" />
                    </div>
                    <span class="module-name">{{ modulo.nome }}</span>
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}