<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ relatorio.titulo }}</title>
    <link rel="stylesheet" type="text/css" href="{{ resources('css/bootstrap.min.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ resources('css/style.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ resources('css/relatorio.css', module.chave) }}" />
    <link rel="shortcut icon" href="{{ resources('images/favicon.png') }}" />
</head>
<body>
    <div id="report" class="container">
        <div id="report-header">
            <div class="pull-right">
                <a href="javascript:void(0)" class="btn btn-sm btn-danger" onclick="window.location.href=window.location.href.replace('/relatorio?', '/relatorio_pdf?')">
                    <span class="glyphicon glyphicon-download-alt"></span>
                    {% trans %}Exportar PDF{% endtrans %}
                </a>
                <a href="javascript:window.print()" class="btn btn-sm btn-default">
                    <span class="glyphicon glyphicon-print"></span>
                    {% trans %}Imprimir{% endtrans %}
                </a>
            </div>
            <h1>{{ relatorio.titulo }}</h1>
        </div>
        <div id="report-body">
            {% include page %}
        </div>
        <div id="report-footer">
            <p>{{ relatorio.titulo }} - Novo SGA v{{ version }}</p>
        </div>
    </div>
</body>
</html>